.search-box input::placeholder {
  color: #323232 !important;
}

.sticky-nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white; /* Background set karna zaroori hai */
  z-index: 1000; /* Ensure it's above other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}
